.cadre {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.jeu {
    border: 2px solid red;
    /* Ajoutez le style de la bordure */
}

.joueur1,
joueur2 {
    text-align: center;
    justify-items: center;
    align-items: center;
}

.cumulScore1 {
    text-align: center;
    width: 50px;
    border: 5px solid blue;
}

.cumulScore2 {
    text-align: center;
    width: 50px;
    border: 5px solid red;
}