.cadre {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.jeu {
    border: 2px solid red;
    /* Ajoutez le style de la bordure */
}

.hold1 {
    border: 2px solid blue;
}