/* Utilisation  Lato comme police par défaut */
* {
    font-family: 'Lato', sans-serif;

}

body {
    text-align: center;
    justify-content: center;
}

.cadre {
    border: 3px solid rgba(221, 59, 38, 0.986);
    border-radius: 10px;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.de {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: aliceblue;
    margin-top: 20px;

}

.joueur1,
.joueur2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-items: center;
    font-size: 20px;
}

.cumulScore1,
.cumulScore2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: palevioletred;
    width: 80px;
    height: 50px;
}

img.svg {
    fill: pink;
}

button,
button:hover {
    border: none;
    background-color: none;
    color: none;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {

    /* Styles pour les écrans de taille maximale de 768 pixels */
    .cadre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Media query pour les écrans de taille minimale de 769 pixels */
@media only screen and (min-width: 769px) {

    /* Styles pour les écrans de taille minimale de 769 pixels */
    .cadre,
    body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
}